body {
    font-family: Arial;
    background-color: #f5f5f5;
    text-align: center;
}

h1 {
    color: #1e1e1e;
}

.filters {
    margin: 20px;
}

input, select, button {
    padding: 10px;
    margin: 5px;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

img {
    width: 100%;
    border-radius: 10px;
}
